doctype html
html(lang=lang)
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="International trumpet soloist Jouko Harjanne.")
    meta(name="webdesign" content="Visa Haarala")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap")
    link(rel="stylesheet" href="/style.css")

    title Jouko Harjanne

  body
    header
      nav
        a(href='/') en
        span
        a(href='/fi') fi
        span
        a(href='/jp') jp

      h1 Jouko Harjanne
      h2 Trumpet music straight from the heart

    main
      section.bio
        each paragraph in biography[lang]['intro']
          p= paragraph
        .jouko 
          img(src="/jouko.jpg" alt="Jouko")
          small ©illukoo
        each paragraph in biography[lang]['bio']
          p= paragraph

      section
        h3 Links
        p
          a(href="https://www.facebook.com/JoukoHarjanneTrumpet/") Facebook
        p
          a(href="https://www.instagram.com/harjannetrumpet/") Instagram
        p
          a(href="https://www.lieksabrass.com/") Lieksa Brass Week

      section
        h3 Contact
        p Jouko Harjanne is available for master courses and soloist work as well as interesting chamber music programmes.
        p joukotrumpet(at)gmail.com

      section.bookings
        h3 Bookings
        p 
          strong Tokyo Concerts, inc.
          br
          | 6F Belx Shinjuku Bldg. II, 23 Aizumi-cho, Shinjuku-ku, Tokyo 160-0005, Japan
          br
          | Tel: +81-3-3226-9755
          br
          | Fax: +81-3-3226-9882
          br
          | E-mail: 
          a(href="mailto:info@tokyo-concerts.co.jp") info@tokyo-concerts.co.jp
          br
          a(href="http://www.tokyo-concerts.co.jp/") http://www.tokyo-concerts.co.jp/
        .logos
          img(src="/bach.png" alt="Bach logo")
