doctype html
html(lang=lang)
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/style.css")
    meta(name="description" content="International trumpet soloist Jouko Harjanne.")
    title Jouko Harjanne

  body
    header
      nav
        a(href='/') en
        span
        a(href='/fi') fi
        span
        a(href='/jp') jp

      h1 Jouko Harjanne
      h2 Trumpet music straight from the heart

    main
      section
        each paragraph in biography[lang]
          p= paragraph

      section
        h3 Links
        p
          a(href="https://www.facebook.com/JoukoHarjanneTrumpet/") Facebook
        p
          a(href="https://www.instagram.com/harjannetrumpet/") Instagram
        p
          a(href="https://www.lieksabrass.com/") Lieksa Brass Week

      section
        h3 Order
        p Jouko Harjanne is available for master courses and soloist work as well as interesting chamber music programmes.
        p joukotrumpet(at)gmail.com

      section
        h3 Bookings
        p 
          strong Tokyo Concerts, inc.
          br
          | 6F Belx Shinjuku Bldg. II, 23 Aizumi-cho, Shinjuku-ku, Tokyo 160-0005, Japan
          br
          | Tel: +81-3-3226-9755
          br
          | Fax: +81-3-3226-9882
          br
          | E-mail: 
          a(href="mailto:info@tokyo-concerts.co.jp") info@tokyo-concerts.co.jp
          br
          a(href="http://www.tokyo-concerts.co.jp/") http://www.tokyo-concerts.co.jp/