* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  background-color: #69827f;
  display: flex;
  justify-content: center;
}

body {
  font-size: 1rem;
  max-width: 50rem;
  background-color: #fff;
  line-height: 1.5;
  padding: 1.5rem min(3rem, 6vw) 2rem;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Helvetica, 'Trebuchet MS', Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  nav {
    position: absolute;
    top: 0;
    @media (min-width: 42em) {
      top: 1.5rem;
    }
    right: 0;
    display: flex;
    align-items: center;
    a {
      letter-spacing: 0.08rem;
    }
    span {
      margin: 0 0.5rem;
      height: 1.1rem;
      width: 1px;
      margin-top: 0.1rem;
      background-color: #0004;
    }
  }
}

section {
  margin-top: 2rem;
  padding-top: 1.7rem;
  border-top: 1px solid #0004;
}

h1 {
  /* title */
  margin-top: 2.5rem;
  letter-spacing: 0.05rem;
}

h2 {
  /* subtitle */
  margin-top: 0.5rem;
  margin-bottom: 0;
  @media (min-width: 42em) {
    margin-bottom: 0.5rem;
  }
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

h3 {
  /* section title */
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

p {
  @media (min-width: 33em) {
    text-align: justify;
  }
  font-size: 1rem;
}

p:not(:first-child) {
  margin-top: 1rem;
}

a {
  color: #23b;
  letter-spacing: 0.05rem;
}
