* {
  margin: 0;
  padding: 0;
}

html {
  /* disable fosi change in landscape iPhone */
  -webkit-text-size-adjust: 100%;

  background-color: #69827f;
  display: flex;
  justify-content: center;
}

body {
  max-width: 50rem;
  background-color: #fdfdfd;
  line-height: 1.5;
  padding: 1.5rem min(3rem, 6vw) 3rem;

  /* font-family: Helvetica, 'Trebuchet MS', Verdana, sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  nav {
    position: absolute;
    right: 0;
    top: 0;
    @media (min-width: 42em) {
      top: 1.5rem;
    }

    display: flex;
    align-items: center;
    a {
      letter-spacing: 0.08rem;
    }
    span {
      margin: 0 0.5rem;
      height: 1.2rem;
      width: 1px;
      margin-top: 0.15rem;
      background-color: #0005;
    }
  }
}

section {
  margin-top: 2.4rem;
  padding-top: 1.8rem;
  border-top: 1px solid #0005;
}

.bio img {
  width: 20rem;
  max-width: 60%;
  float: right;
  padding-top: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;

  @media (max-width: 30em) {
    /* 480px */
    max-width: unset;
    width: 100%;
  }
}

.bookings {
  display: flex;
  flex-direction: column;
}

.bookings img {
  align-self: center;
  margin-top: 2rem;
  width: 5rem;
}

h1 {
  /* title */
  margin-top: 2.9rem;
  @media (min-width: 42em) {
    margin-top: 3.2rem;
  }
  letter-spacing: 0.04rem;
  font-weight: 600;
  transform: scaleX(-100%);
}

h2 {
  /* subtitle */
  margin-top: 1rem;

  margin-bottom: 0.6rem;
  @media (min-width: 42em) {
    margin-bottom: 1.1rem;
  }

  font-weight: 400;
  color: #000b;

  font-size: 1.1rem;
  letter-spacing: 0.05rem;

  /* for some reason, !important is necessary 
  for the media query font changes to work */
  @media (max-width: 30em) {
    font-size: 1rem !important;
  }
  @media (max-width: 26em) {
    letter-spacing: 0 !important;
  }
}

h3 {
  /* section title */
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  letter-spacing: 0.03rem;
}

p {
  @media (min-width: 30em) {
    text-align: justify;
  }
  font-size: 1rem;
}

p ~ p {
  /* not first child */
  margin-top: 1rem;
}

strong {
  font-weight: 600;
  letter-spacing: 0.03rem;
}

a {
  color: #23b;
  letter-spacing: 0.05rem;
}
